body{
    margin:0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    gap: 20px;
}
button{
    width: 10vw;
    height: 5%;
}
.input{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10px;
}
.sub{
    width: 10vw;
    height: 10%;
}
.box{
    height: 30%;
}